[submodule "extensions"]
	path = extensions
	url = git@github.com:EvmenovPavel/AwesomeWM-Extensions.git

[submodule "modules/foggy"]
	path = modules/foggy
	url = git@github.com:EvmenovPavel/foggy.git
    branch = master

[submodule "3rdparty/i3lock-color"]
	path = modules/foggy
	url = git@github.com:Raymo111/i3lock-color.git
